<h1>Titles:</h1>

<ul>
 <% if @medias.any? %>
  <% @medias.each do |media| %>
    <li><%= media.title %></li>
    <%= form_for :preference, :html => {:class => "filter"}, url: user_preferences_path(current_user.id) do |t| %>
      <%= t.hidden_field :media_id, value: media.id %>
      <%= t.submit 'Add to filter' %>
      <% end %>
    <%end%>
 <% else %>
      <p>There is no media here</p>
 <% end %>
</ul>


