<h1>Titles:</h1>

<ul>
  <% @medias.each do |media| %>
    <li><%= media.title %></li> 
    <%= form_for :preference, user_preferences_path(current_user.id) do |t| %>
      <% t.hidden_field :media_id, value: media.id %>
      <%= t.submit 'Add to filter' %>
    <%= end %>
  <% end %>
</ul>