@import "bootstrap-sprockets";
@import "bootstrap";
@import "home.scss";
@import "sweet-alert";

.col-centered{
    float: none;
    margin: 0 auto;
}
form {
    display: inline;
}

form .submit-btn {
    display: inline;
}

