@import "bootstrap-sprockets";
@import "bootstrap";
@import "home.scss";
@import "sweet-alert";

.col-centered{
    float: none;
    margin: 0 auto;
}

.footer {
    padding-top: 60px;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 155px; /* .push must be the same height as .footer */
}

