
a {
text-decoration: none;
}

.col-centered{
    margin: auto;
    width: 70%;
    padding: 1em;
    text-align: center;
}

.panel-heading a:hover {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.panel-heading a:active {
  color: white;
  text-decoration: none;
}
.panel-heading a:focus {
  color: white;
  text-decoration: none;
}

.panel-heading {
  background-color: #210063;
  color: white;
  text-align: left;
  text-shadow: .5px 2px #0F0051;
  border: 1px solid white;
}

.panel-body.noborder {
  border: 1px solid #dddddd;
}

.panel.noborder {
    border: none;
    box-shadow: none;
}
.panel.noborder > .panel-heading {
    border: 1px solid #dddddd;
    border-radius: 0;
}

.no-list-style {
  list-style: none;
}

.inline {
  display: inline;
}

.btn.btn-default.btn-xs.submit-btn {
  background-color: #331B9D;
  color: white;
  float: right;
  text-decoration: none;
  border-radius: 0;
  border: none;
}

.btn.btn-default.btn-xs.submit-btn a {
  color: white;
  text-decoration: none;
}

.btn.btn-default.btn-xs.submit-btn:hover {
  background-color: #468ecb;
  text-decoration: none;
  color: white;
}
.btn.btn-default.btn-xs.submit-btn:active {
  background-color: #468ecb;
  text-decoration: none;
  color: white;
}

.inline.title {
  float: left;
}

.panel.panel-default.panel-group.no-border {
    border: none;
    box-shadow: none;
}

.footer {
    padding-top: 60px;
    color: #468ECB;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}
h4 {
  margin-top: -3%
}

.wrapper {
  min-height: 100%;
  height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
  height: 155px; /* .push must be the same height as .footer */
  color: #468ecb;
}

.footer a{
  text-decoration: none;
  color: #210063;
}

.bootstrap-switch-handle-on.bootstrap-switch-handle-off {
  color: #428bca;
}

.tagline a {
  color: #337AB7;
  text-decoration: none;
}

.tagline a:active {
  color: #514800;
  text-decoration: none;
}
.tagline a:focus {
  text-decoration: none;
}

.btn-group .btn-primary {
  background-color: #337AB7;
  border: .5px solid #514800;
  text-shadow: .5px 2px #0F0051;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  text-decoration: none;
  border-radius: 0;
}

.btn-group .btn-primary:hover {
  background-color: #468ecb;
  text-decoration: none;
  text-decoration: none;
}

.btn-primary a:hover {
  text-decoration: none;
}
.btn-primary a {
  border: .5px solid #514800;
  color: white;
  text-decoration: none;
}

.btn-primary {
  margin-top: 2%;
  border-radius: 0;
  border: none;
}
.submit-btn {
  color: white;
  text-decoration: none;
  text-decoration: none;
}

@media (max-width: 600px) {
  .tagline a {
    font-size: 1em;
  }

  .tagline a:hover {
    text-decoration: none;
  }

  .tagline a:active {
    color: #210063;
    text-decoration: none;
  }
}

#unspoiled-logo:hover img{
  -webkit-filter: hue-rotate(20deg)

}

#user-preferences{
  h2 {
    margin-bottom: 5%;
  }
  strong {
  color: #337AB7;
  }
}

#category{
  margin-top: 10px;
}

button.btn.btn-default{
  background-color:#939393;
}


#username{
}



.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  background-color: #428bca;
  color: white;
}

